<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404/index.html" responseMode="ExecuteURL" />
      <error statusCode="401" prefixLanguageFilePath="" path="/401/index.html" responseMode="ExecuteURL" />
    </httpErrors>
     
  <customErrors mode="Off" />
     <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>

</configuration>
